<!DOCTYPE html>
<html lang="en-GB" class="no-js">

<head>
	<meta charset="utf-8">
	<title>{{ page.title }} | Holistic Therapies, Huddersfield</title>
	<meta name="description" content="{% if page.meta_description %}{{ page.meta_description }}{% else %}{{ site.description }}{% endif %}">
	<meta name="viewport" content="width=device-width">
	<link rel="shortcut icon" href="/favicon.ico?v=2">
	<link rel="canonical" href="https://deborahholistics.co.uk/{{page.url}}">
	<link rel="stylesheet" href="/assets/css/styles.css">
	{% include tag-manager.html %}
</head>

<body>
	<!-- Google Tag Manager (noscript) -->
	<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-P69GDF4" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
	<!-- End Google Tag Manager (noscript) -->

	{% include header.html %}

	{{ content }}

	{% include footer.html %}

	{% include scripts.html %}

</body>

</html>
